[submodule "libs/canvas"]
	path = libs/canvas
	url = git@github.com:estebanwaseaten/canvas.git
[submodule "libs/raspi"]
	path = libs/raspi
	url = git@github.com:estebanwaseaten/raspi.git
[submodule "libs/terminalio"]
	path = libs/terminalio
	url = git@github.com:estebanwaseaten/terminalio.git
[submodule "libs/threader"]
	path = libs/threader
	url = git@github.com:estebanwaseaten/threader.git
